<template>
  <div class="letter-bg">
    <div class="letter-wrap">
      <div class="letter-content">
        <div class="top-nav">
          <button class="top-menu"></button>
          <div class="top-nav-center">me → me</div>
          <button class="top-nav-lang">ru – EN</button>
        </div>
        <div class="letter-main">
          <div class="letter-bg-1"></div>
          <div class="letter-bg-2"></div>
          <div class="letter-bg-3"></div>
          <div class="letter-bg-4"></div>
          <div class="letter-text-wrap">
            <div class="letter-text-top">
              <span>Захотим</span>
            </div>
            <div class="letter-text-bottom">
              <span>ли мы вспоминать</span>
            </div>
          </div>
        </div>
        <div class="letter-bottom">
          <div
            class="bottom-text"
          >Мы все оказались в учебнике истории. В мире бушует первая пандемия, за которой можно наблюдать онлайн. Впервые половина населения земного шара сидит на карантине. Станет ли наш мир прежним? Не факт.</div>
          <div class="bottom-next"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import bgImage from "./assets/bg-letter.png"

export default {
  name: 'Letter'
}
</script>

<style scoped lang="scss">
.letter-bg {
  background-color: #1c1c1c;
  background-image: url('../assets/bg-letter.png'),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(143, 129, 126, 0.29) 100%
    );
}

.letter-wrap {
  margin: 0 auto;
  min-height: 1000px;
  padding: 1rem;
  color: #ffffff;

  .top-nav {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 90px;
    box-sizing: border-box;
    padding: 60px 20px;
    align-items: center;

    &-center {
      text-transform: uppercase;
      font-size: 20px;
      line-height: 22px;
    }

    &-lang {
      font-size: 10px;
      line-height: 12px;
      text-transform: uppercase;

      font-family: Roboto;

      &:hover {
        color: #b6aeae;
      }
    }
  }

  .top-menu {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    width: 30px;
    height: 10px;

    &:hover {
      border-top: 1px solid #b6aeae;
      border-bottom: 1px solid #b6aeae;
    }
  }

  .letter-main {
    position: relative;
    width: 900px;
    height: 700px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: center;

    .letter-bg-1 {
      position: absolute;
      left: 181px;
      z-index: 910;
      top: 236px;
      width: 547px;
      height: 379px;
      background: linear-gradient(
          0deg,
          rgba(18, 18, 18, 0.12),
          rgba(18, 18, 18, 0.12)
        ),
        url('../assets/bg-1.png');
      transform: matrix(1, 0.07, -0.09, 1, 0, 0);
    }

    .letter-bg-2 {
      position: absolute;
      left: 582px;
      z-index: 905;
      top: 202px;
      width: 301.07px;
      height: 419.39px;
      background: url('../assets/bg-2.png');
      transform: matrix(0.99, 0.13, -0.13, 0.99, 0, 0);
    }

    .letter-bg-3 {
      position: absolute;
      width: 366.06px;
      height: 230.44px;
      left: 295px;
      top: 63px;
      z-index: 888;

      background: url('../assets/bg-3.png');
      transform: matrix(0.99, -0.09, 0.1, 1, 0, 0);
    }

    .letter-bg-4 {
      position: absolute;
      width: 292.7px;
      height: 400.26px;
      left: 32px;
      top: 157.75px;
      z-index: 900;

      background: url('../assets/bg-4.png');
      transform: matrix(0.99, -0.06, 0.1, 1, 0, 0);
    }
  }

  .letter-center {
    min-height: 600px;
    margin: 20px 0;
  }

  .letter-text-wrap {
    display: flex;
    text-align: center;
    flex-direction: column;

    .letter-text-bottom {
      z-index: 999;
    }

    .letter-text-top {
      z-index: 999;
    }

    span {
      font-size: 64px;
      line-height: 85px;
      font-style: italic;
    }
  }

  .letter-bottom {
    margin: 50px 20px 75px 20px;

    .bottom-text {
      font-style: italic;
      font-weight: normal;
      font-size: 17px;
      line-height: 20px;
    }
  }
}
</style>